select.outlined, input.outlined
{
	background: none;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--rounded-radius);
	font-size: 1em;
	padding: 0.5em;
}

.background.light select.outlined, .background.light input.outlined
{
	border-color: var(--neutral-darkest-color);
	color: var(--neutral-darkest-color);
}

.background.dark select.outlined, .background.dark input.outlined
{
	border-color: var(--neutral-lightest-color);
	color: var(--neutral-lightest-color);
}

.background.dark .background.above select.outlined, .background.dark .background.above input.outlined,
{
	border-color: var(--neutral-lightest-color);
	color: var(--neutral-lightest-color);
}

.background.light .background.above select.outlined, .background.light .background.above input.outlined,
{
	border-color: var(--neutral-darkest-color);
	color: var(--neutral-darkest-color);
}

select.outlined:focus, input.outlined:focus
{
	outline: none;
}

select.outlined.primary:focus, input.outlined.primary:focus
{
	border-color: var(--primary-color);
}

select.outlined.secondary:focus, input.outlined.secondary:focus
{
	border-color: var(--secondary-color);
}

select.filled, input.filled
{
	background: var(--neutral-lighter-color);
	color: var(--neutral-darkest-color);
	border: none;
	border-bottom: solid 1px var(--neutral-darkest-color);
	
	border-top-left-radius: var(--soft-rounded-radius);
	border-top-right-radius: var(--soft-rounded-radius);
	
	font-size: 1em;
	padding: 0.5em;
}

.background.light select.filled, .background.light input.filled
{
	background: var(--neutral-darker-color);
}

.background.dark select.filled, .background.dark input.filled
{
	background: var(--neutral-lighter-color);
}

.background.dark .background.above select.filled, .background.dark .background.above input.filled,
{
	background: var(--neutral-lighter-color);
}

.background.light .background.above select.filled, .background.light .background.above input.filled,
{
	background: var(--neutral-darker-color);
}

select.filled:focus, input.filled:focus
{
	outline: none;
}

select.filled.primary:focus, input.filled.primary:focus
{
	border-bottom: solid 2px var(--primary-color);
}

select.filled.secondary:focus, input.filled.secondary:focus
{
	border-bottom: solid 2px var(--secondary-color);
}
