/*************
 * VARIABLES *
 *************/
 
:root
{
	/*** COLORS ***/
	
	--primary: #6200ee;
	--primary-light-color: hsl(from var(--primary) h s 25%);
	--primary-color: hsl(from var(--primary) h s 50%);
	--primary-dark-color: hsl(from var(--primary) h s 75%);
	
	--secondary: #03dac5;
	--secondary-light-color: hsl(from var(--secondary) h s 25%);
	--secondary-color: hsl(from var(--secondary) h s 50%);
	--secondary-dark-color: hsl(from var(--secondary) h s 75%);
	
	--neutral: #b0b4c5;
	--neutral-lightest-color: hsl(from var(--neutral) h s 90%);
	--neutral-lighter-color: hsl(from var(--neutral) h s 66%);
	--neutral-color: hsl(from var(--neutral) h s 45%);
	--neutral-darker-color: hsl(from var(--neutral) h s 20%);
	--neutral-darkest-color: hsl(from var(--neutral) h s 5%);
	
	--info-color: #0172e4;
	--success-color: #1a883c;
	--warning-color: #df6420;
	--error-color: #c81720;
	
	--on-primary-color: var(--neutral-lightest-color);
	--on-secondary-color: var(--neutral-darkest-color);
	--on-info-color: var(--neutral-lightest-color);
	--on-success-color: var(--neutral-lightest-color);
	--on-warning-color: var(--neutral-darkest-color);
	--on-error-color: var(--neutral-lightest-color);
	
	/*** FONTS ***/
	
	--headline-font: serif;
	--paragraph-font: sans-serif;
	--exotic-font: fantasy;
	
	/*** SPACES ***/
	--step-space: 6px;
	--near-space: 1rem;
	--midrange-space: 1.75rem;
	--far-space: 3rem;
	
	/*** ROUNDING ***/
	--soft-rounded-radius: 4px;
	--rounded-radius: 0.5rem;
	--very-rounded-radius: 1.5rem;
	--circular-radius: 50%;
}

/***********
 * GLOBALS *
 ***********/

*
{
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	padding: 0;

	min-width: 100%;
	min-height: 100%;
	
	font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6
{
	font-family: var(--headline-font);
}

button
{
	cursor: pointer;
}

/***********
 * CLASSES *
 ***********/

/*** CTA ***/

.cta
{	
	border-radius: 0;
	padding: var(--step-space);
	border: none;
}

.cta.floating
{
	border-radius: var(--circular-radius);
	padding: var(--near-space);
	
	/* Keep a circle */
	aspect-ratio: 1/1;
	
	/* Centering in the circle */
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta.primary
{
	background-color: var(--primary-color);
	color: var(--on-primary-color);
}

.cta.secondary
{
	background-color: var(--secondary-color);
	color: var(--on-secondary-color);
}

.cta.info
{
	background-color: var(--info-color);
	color: var(--on-info-color);
}

.cta.success
{
	background-color: var(--success-color);
	color: var(--on-success-color);
}

.cta.warning
{
	background-color: var(--warning-color);
	color: var(--on-warning-color);
}

.cta.error
{
	background-color: var(--error-color);
	color: var(--on-error-color);
}

.cta.discrete
{
	background-color: transparent;
	border: solid 1px transparent;
}

.cta.primary.discrete
{
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.cta.secondary.discrete
{
	border-color: var(--secondary-color);
	color: var(--secondary-color);
}

.cta.info.discrete
{
	border-color: var(--info-color);
	color: var(--info-color);
}

.cta.success.discrete
{
	border-color: var(--success-color);
	color: var(--success-color);
}

.cta.warning.discrete
{
	border-color: var(--warning-color);
	color: var(--warning-color);
}

.cta.error.discrete
{
	border-color: var(--error-color);
	color: var(--error-color);
}

/*** BACKGROUND ***/

.background.light
{
	background-color: var(--neutral-lightest-color);
	color: var(--neutral-darkest-color);
}

.background.dark
{
	background-color: var(--neutral-darkest-color);
	color: var(--neutral-lightest-color);
}

.background.dark .background.above
{
	background-color: var(--neutral-darker-color);
	color: var(--neutral-lightest-color);
}

.background.light .background.above
{
	background-color: var(--neutral-lighter-color);
	color: var(--neutral-darkest-color);
}

/*** LAYOUT ***/

.column
{
	display: flex;
}

.column:not(.reverse)
{
	flex-direction: column;
}

.column.reverse
{
	flex-direction: column-reverse;
}

.row
{
	display: flex;
}

.row:not(.reverse)
{
	flex-direction: row;
}

.row.reverse
{
	flex-direction: row-reverse;
}

.column.from-start, .row.from-start
{
	justify-content: flex-start;
}

.column.from-center, .row.from-center
{
	justify-content: center;
}

.column.gapped, .row.gapped
{
	justify-content: space-between;
}

.column.spaced, .row.spaced
{
	justify-content: space-around;
}

.column.from-end, .row.from-end
{
	justify-content: flex-end;
}

.column.at-start, .row.at-start
{
	align-items: flex-start;
}

.column.at-center, .row.at-center
{
	align-items: center;
}

.column.at-end, .row.at-end
{
	align-items: flex-end;
}

.column.stretch > *
{
	width: 100%;
}

.row.stretch > *
{
	height: 100%;
}

.column.wrap, .row.wrap
{
	flex-wrap: wrap;
}

/*** SPACING ***/

/* All Margin */
.no-margin
{
	margin: 0;
}

.margin.step
{
	margin: var(--step-space);
}

.margin.near
{
	margin: var(--near-space);
}

.margin.midrange
{
	margin: var(--midrange-space);
}

.margin.far
{
	margin: var(--far-space);
}

/* Vertical Margin */
.no-vertical-margin
{
	margin-top: 0;
	margin-bottom: 0;
}

.vertical-margin.step
{
	margin-top: var(--step-space);
	margin-bottom: var(--step-space);
}

.vertical-margin.near
{
	margin-top: var(--near-space);
	margin-bottom: var(--near-space);
}

.vertical-margin.midrange
{
	margin-top: var(--midrange-space);
	margin-bottom: var(--midrange-space);
}

.vertical-margin.far
{
	margin-top: var(--far-space);
	margin-bottom: var(--far-space);
}

/* Horizontal Margin */
.no-horizontal-margin
{
	margin-left: 0;
	margin-right: 0;
}

.horizontal-margin.step
{
	margin-left: var(--step-space);
	margin-right: var(--step-space);
}

.horizontal-margin.near
{
	margin-left: var(--near-space);
	margin-right: var(--near-space);
}

.horizontal-margin.midrange
{
	margin-left: var(--midrange-space);
	margin-right: var(--midrange-space);
}

.horizontal-margin.far
{
	margin-left: var(--far-space);
	margin-right: var(--far-space);
}

/* Top Margin */
.no-top-margin
{
	margin-top: 0;
}

.top-margin.step
{
	margin-top: var(--step-space);
}

.top-margin.near
{
	margin-top: var(--near-space);
}

.top-margin.midrange
{
	margin-top: var(--midrange-space);
}

.top-margin.far
{
	margin-top: var(--far-space);
}

/* Right Margin */
.no-right-margin
{
	margin-right: 0;
}

.right-margin.step
{
	margin-right: var(--step-space);
}

.right-margin.near
{
	margin-right: var(--near-space);
}

.right-margin.midrange
{
	margin-right: var(--midrange-space);
}

.right-margin.far
{
	margin-right: var(--far-space);
}

/* Bottom Margin */
.no-bottom-margin
{
	margin-bottom: 0;
}

.bottom-margin.step
{
	margin-bottom: var(--step-space);
}

.bottom-margin.near
{
	margin-bottom: var(--near-space);
}

.bottom-margin.midrange
{
	margin-bottom: var(--midrange-space);
}

.bottom-margin.far
{
	margin-bottom: var(--far-space);
}

/* Left Margin */
.no-left-margin
{
	margin-left: 0;
}

.left-margin.step
{
	margin-left: var(--step-space);
}

.left-margin.near
{
	margin-left: var(--near-space);
}

.left-margin.midrange
{
	margin-left: var(--midrange-space);
}

.left-margin.far
{
	margin-left: var(--far-space);
}

/* All Padding */
.no-padding
{
	padding: 0;
}

.padding.step
{
	padding: var(--step-space);
}

.padding.near
{
	padding: var(--near-space);
}

.padding.midrange
{
	padding: var(--midrange-space);
}

.padding.far
{
	padding: var(--far-space);
}

/* Vertical Padding */
.no-vertical-padding
{
	padding-top: 0;
	padding-bottom: 0;
}

.vertical-padding.step
{
	padding-top: var(--step-space);
	padding-bottom: var(--step-space);
}

.vertical-padding.near
{
	padding-top: var(--near-space);
	padding-bottom: var(--near-space);
}

.vertical-padding.midrange
{
	padding-top: var(--midrange-space);
	padding-bottom: var(--midrange-space);
}

.vertical-padding.far
{
	padding-top: var(--far-space);
	padding-bottom: var(--far-space);
}

/* Horizontal Margin */
.no-horizontal-padding
{
	padding-left: 0;
	padding-right: 0;
}

.horizontal-padding.step
{
	padding-left: var(--step-space);
	padding-right: var(--step-space);
}

.horizontal-padding.near
{
	padding-left: var(--near-space);
	padding-right: var(--near-space);
}

.horizontal-padding.midrange
{
	padding-left: var(--midrange-space);
	padding-right: var(--midrange-space);
}

.horizontal-padding.far
{
	padding-left: var(--far-space);
	padding-right: var(--far-space);
}

/* Top Padding */
.no-top-padding
{
	padding-top: 0;
}

.top-padding.step
{
	padding-top: var(--step-space);
}

.top-padding.near
{
	padding-top: var(--near-space);
}

.top-padding.midrange
{
	padding-top: var(--midrange-space);
}

.top-padding.far
{
	padding-top: var(--far-space);
}

/* Right Padding */
.no-right-padding
{
	padding-right: 0;
}

.right-padding.step
{
	padding-right: var(--step-space);
}

.right-padding.near
{
	padding-right: var(--near-space);
}

.right-padding.midrange
{
	padding-right: var(--midrange-space);
}

.right-padding.far
{
	padding-right: var(--far-space);
}

/* Bottom Padding */
.no-bottom-padding
{
	padding-bottom: 0;
}

.bottom-padding.step
{
	padding-bottom: var(--step-space);
}

.bottom-padding.near
{
	padding-bottom: var(--near-space);
}

.bottom-padding.midrange
{
	padding-bottom: var(--midrange-space);
}

.bottom-padding.far
{
	padding-bottom: var(--far-space);
}

/* Left Padding */
.no-left-padding
{
	padding-left: 0;
}

.left-padding.step
{
	padding-left: var(--step-space);
}

.left-padding.near
{
	padding-left: var(--near-space);
}

.left-padding.midrange
{
	padding-left: var(--midrange-space);
}

.left-padding.far
{
	padding-left: var(--far-space);
}

/*** SIZING ***/
.full-width
{
	width: 100%;
}

.full-height
{
	height: 100%;
}

.three-quarter-width
{
	width: 75%;
}

.three-quarter-heigth
{
	height: 75%;
}

.two-third-width
{
	width: 66%;
}

.two-third-height
{
	height: 66%;
}

.half-width
{
	width: 50%;
}

.half-height
{
	height: 50%;
}

.third-width
{
	width: 33%;
}

.third-height
{
	height: 33%;
}

.quarter-width
{
	width: 25%;
}

.quarter-height
{
	height: 25%;
}

.full-screen-width
{
	width: 100vw;
}

.full-screen-height
{
	height: 100vh;
}

.three-quarter-screen-width
{
	width: 75vw;
}

.three-quarter-screen-heigth
{
	height: 75vh;
}

.two-third-screen-width
{
	width: 66vw;
}

.two-third-screen-height
{
	height: 66vh;
}

.half-screen-width
{
	width: 50vw;
}

.half-screen-height
{
	height: 50vh;
}

.third-screen-width
{
	width: 33vw;
}

.third-screen-height
{
	height: 33vh;
}

.quarter-screen-width
{
	width: 25vw;
}

.quarter-screen-height
{
	height: 25vh;
}

/*** ROUNDING ***/
.soft-rounded
{
	border-radius: var(--soft-rounded-radius);
}

.rounded
{
	border-radius: var(--rounded-radius);
}

.very-rounded
{
	border-radius: var(--very-rounded-radius);
}

.circular
{
	border-radius: var(--circular-radius);
}
